{{!-- <img src="http://placekitten.com/100/120" {{bind-attr height=height width=width}}> --}}

{{!-- {{photo-item source=view.source }} --}}

{{!-- <div class="item" {{bind-attr style=style}}> --}}
<img {{bind-attr src=view.imageSource style=view.style}} {{action "likePhoto" view.photoId}}>
<span><img {{bind-attr src=view.imageSource}} style="height:300px; width:300px;"><br>Simply beautiful.</span>

{{!-- </div> --}}